@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;1,6..96,900&family=Lato:wght@700&family=Poppins:wght@400;700&family=Roboto:ital,wght@1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.Primary-button {
   background-color:royalblue;
   border-radius: 6px;
   font-weight: 700;
   color: white !important;
}



a {
    text-decoration: none;
}

.flex {
    display: flex;
}

ul {
    list-style: none;
}

.hover-link {
    color:red;
    transition: 0.3s ease;
}

.hover-link:hover {
    color: royalblue;
}


/* main-nav */

.main-nav {
    background-image: url(./images/program.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.main-nav {
    /* margin-top: 10px; */
    justify-content: space-between;
}

.company-logo img {
    width: 100px;
}

.nav-links {
    flex-basis: 730px;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;
    margin-right: 30px;
}



.intro {
    margin-left: 10px;
    margin-top: 200px;
    width: 30%;
}
.color {
    color: crimson;
}

.intro h3 {
    border-radius: 3px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px rgb(138, 138, 240);
    transition: 0.1s ease;
    background-color: #b1cf09;
}

h3 {
    border-radius: 3px;
    color: white;
}

.header-section {
    background-color: black;
    height: 95vh;
}

.header-left {
    padding: 60px;

}

.header-right {
    color: white;

    margin-right: 20px;
}

.header-right p {
    max-width: 90%;
    font-size: 1.3rem;
}

.Primary-button {
    border-radius: 1px;
    font-weight: 100;
    color: white !important;
    padding: 4px 4px;
    box-shadow: 0 0 1px rgb(138, 138, 240);
    transition: 0.1s ease;
    background-color: #b1cf09;
    
}

.Primary-button:hover {
    background-color: rgb(140, 140, 231);

}

.example-section {
    
    width: 100%;
    height: 170vh;
    background-color: darkslategray;
}

.example-section h3 {
    bottom: 50%;
}

.examples-header {
    
    color: white;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.examples-heading-text  {
    margin-top: 20px;
}

.examples-header p {
    font-size: 1.5rem;
    flex-direction: column-reverse;
    text-align: center;
    min-width: 40%;
}



.example-card {
    /* bottom:20px */
    width: 27%;
    position: relative;
    min-height: 400px;
    background-color: black;
    background-position: top;
    color: white;
    font-size: 1.5rem;

}

.example-card {
    border-radius: 20px;
    
}

.example-area {
    bottom: 20px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: 1s ease;
}

.example-area a {
    margin-top: 30px;
    color: white;
    justify-content: space-between;
}

.example-area :hover{

    background: linear-gradient( rgb(176, 176, 29),red);
    background-position: center;
    margin-top: 20px;
    transition: 1s ease;
}




.cta-container {
   
    width: 100%;
    height: 130vh;
   background-color:black;
    color: white;
}

.cta-card {
    margin-top: 100px;
    border-radius: 20px;
    text-align: center;
}


.cta-header {
    font-size: 1.5rem;
    text-align: center;
    flex-direction: column-reverse;
}


.cta-area {
    bottom: 20px;
    text-align: bottom;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: 1s ease;
}

.cta-card {
    /* bottom:20px */
    width: 27%;
    position: relative;
    min-height: 400px;
    background-color: black;
    background-position: top;
    color: white;
    font-size: 1.5rem;
    

}




.cta-card {
    border-radius: 20px;
    text-align: center;
}
.bottom-title{
    position: absolute;
    bottom: 20px;
    width: 20vw;
    right: 50px;
}

.img1 {
    background-image: linear-gradient( rgb(0, 0, 0, 0.1), rgba(224, 8, 8, 0.8)), url(./images/development.jpg);
    background-size:cover ;
    transition: 1s ease;
   
}

.cta-area :hover {
    
    background-position: center;
    margin-top: 20px;
    transition: 1s ease;
    transform: scale(1.2);
    font-size: 1rem;
}

.img2 {
    background-image: linear-gradient( rgb(0, 0, 0, 0.1), rgba(224, 8, 8, 0.8)), url(./images/frontend.jpg);
    background-size:cover ;
    
}

.img3 {
    background-image:  linear-gradient( rgb(0, 0, 0, 0.1), rgba(224, 8, 8, 0.8)), url(./images/backend\ eng.jpg);
    background-size:cover ;
    
}

.contact {
    min-width: 50%;
}

.color {
    color: crimson;
}

#fullname {
    height: 10px;
}

#email {
    height: 10px;
}

#yoursubject {
    height: 20px;
}

#writemessage {
    height: 60px;
}
footer {
    background-color: darkslategray;
    color: white;
}

.submit {
    background-color: black;
}

.input-section h1  {
    
    font-size: 2rem;
   text-align: center;

}

.heading {
    padding-top: 100px;
}


.contact {
    text-align: center;
    font-size: 2rem;
 
 }
.outer-box {
    margin-top: -200px;
    width: 100vw;
    height: 110vh;
}
.inner-box {
    width: 400px;
    margin-left: 30%;
    line-height: 40px;
    position: relative;
    top: 50%;
    transform: translatey(-50%);
    /* padding: 20px 40px;/ */
}

.signup-header h1 {
    color: black;
    font-size: 3rem;
    color: rgb(184, 204, 204);
    
}

.signup-header p {
    
    font-size: 2px;
    color: white;
}

.signup-body {

    font-size: 1rem;
    margin: 10px;
}

.signup-body p {
    margin: 10px 10px;
}

.signup-body p label {
    display: block;
    color: white;
}

.signup-body p input {
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
}

.signup-body p input[type="submit"] {
    background-color: #3498db;
    color: antiquewhite;
    cursor: pointer ;
}

.signup-body p input[type="submit"]:hover {
    background-color: blue;
}

.Signup-footer p {
    color: darkred;
    text-align: center;
}

.Signup-footer p a {
    color: rgb(255, 0, 98);
}

.button {
    margin-top: -30px;
    float: right;
}

.sub-container {
    background-color: black;
    color: white;
    gap: 700px;
    font-size: large;
}

.sub-container img {
    height: 70px;
}
